<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>故事列表--开发者必须免费！--需求管理平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form" id="storyz">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" class="layui-input searchVal" placeholder="请输入故事" />
                </div>
                <a class="layui-btn layui-btn-normal search_btn" data-type="reload">搜索</a>
                <button class="layui-btn layui-btn-warm addStory">添加故事</button>
                <button class="layui-btn layui-btn-danger stopStoryList">批量停用（未实现）</button>
                <button class="layui-btn layui-btn-danger removeStoryList">批量删除（未实现）</button>
                <button class="layui-btn layui-btn-normal downloadStory">导出</button>
            </div>
        </form>
    </blockquote>
    <table id="storyList" lay-filter="storyList"></table>
    <!--操作-->
    <script type="text/html" id="storyListBar">
        <a class="layui-btn layui-btn-xs" lay-event="editStory">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="startStory">启用</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="stopStory">停用</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="removeStory">删除</a>
    </script>
</form>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/page/pm/story/storyList.js}"></script>
</body>
</html>