<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>开发者必须免费！--需求管理平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
</head>
<body class="childrenBody">
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <blockquote class="layui-elem-quote layui-bg-blue">
        <div id="nowTime"></div>
    </blockquote>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">最近</div>
                    <div class="layui-card-body">
                        卡片式面板面板通常用于非白色背景色的主体内<br>
                        从而映衬出边框投影
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">备忘录</div>
                    <div class="layui-card-body">
                        结合 layui 的栅格系统<br>
                        轻松实现响应式布局
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-row layui-card-header">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">项目进度</label>
                                <div class="layui-input-inline">
                                    <select name="quiz">
                                        <option value="">请选择</option>
                                        <option value="1">进行中</option>
                                        <option value="2">未归档</option>
                                        <option value="3">已归档</option>
                                        <option value="4">启用</option>
                                        <option value="5">停用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">状态</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-verify="required" lay-search="">
                                        <option value="">直接选择或搜索选择</option>
                                        <option value="1">layer</option>
                                        <option value="2">form</option>
                                        <option value="3">layim</option>
                                        <option value="4">element</option>
                                        <option value="5">laytpl</option>
                                        <option value="6">upload</option>
                                    </select>
                                </div>
                            </div>
                            <a class="layui-btn layui-btn-normal search_btn" data-type="reload">搜索</a>
                        </div>
                    </div>
                    <div class="layui-row layui-card-body">
                        <div class="layui-col-md12 layui-col-xs12 layui-col-sm12 layui-col-lg12">
                            内容
                        </div>
                        <div class="layui-col-md12 layui-col-xs12 layui-col-sm12 layui-col-lg12">
                            内容
                        </div>
                        <div class="layui-col-md12 layui-col-xs12 layui-col-sm12 layui-col-lg12">
                            内容
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="layui-tab-title">
        <li>我参与的<span class="layui-badge">9</span></li>
        <li>史诗列表<span class="layui-badge">9</span></li>
        <li>企业全部<span class="layui-badge">9</span></li>
        <li>企业公开<span class="layui-badge">9</span></li>
        <li>未分组项目<span class="layui-badge">9</span></li>
        <li>已归档项目<span class="layui-badge">9</span></li>
        <li>回收站<span class="layui-badge">9</span></li>
        <li>基本管理<span class="layui-badge">9</span></li>
        <li>进度分析<span class="layui-badge">9</span></li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            1
        </div>
        <div class="layui-tab-item">
            <div class="layui-card"  th:each="result : ${proDemands}">
                <div class="layui-card-header" th:text="${result.demand_name}">标题</div>
                <div class="layui-card-body" th:text="${result.demand_desc}" style="color: #3cb9ed">
                    内容
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            3
        </div>
        <div class="layui-tab-item">
            4
        </div>
        <div class="layui-tab-item">
            5
        </div>
        <div class="layui-tab-item">
            6
        </div>
        <div class="layui-tab-item">
            7
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script>
    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function(elem){
            location.hash = 'test='+ $(this).attr('lay-id');
        });

    });
</script>
</body>
</html>